# Supabase 설정
SUPABASE_URL=https://xqyycmwhhmgkuygddfue.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhxeXljbXdoaG1na3V5Z2RkZnVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEzMjgzOTcsImV4cCI6MjA2NjkwNDM5N30.D0naUog2uyukObXl4ZVR6OiFOoKImCsrhg8-z6QGqro
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhxeXljbXdoaG1na3V5Z2RkZnVlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTMyODM5NywiZXhwIjoyMDY2OTA0Mzk3fQ.h7t9FXOE74hwd1RJhCkq6fHZYaRTzcwjGYZXcdTPgMw

# 앱 설정
NODE_ENV=development

# 웹 푸시 알림 설정
VAPID_PUBLIC_KEY=BM-KWKrT9XTrvBwroAicxr3RXh2CSGu-9vwYAnWfPvTk63OQD0TfPKB-YHnjRPpmhD4E7kjtjBHvfSMrJ3sxx1U
VAPID_PRIVATE_KEY=Gc9DEmPHT1ErUJmHqK9vI6N1nrOC42TGWlwUX5soKw8

# YouTube Data API 설정
YOUTUBE_API_KEY=your_youtube_api_key_here
YOUTUBE_CHANNEL_HANDLE=@길을여는교회 