# Supabase 설정
SUPABASE_URL=your_supabase_project_url
SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# 앱 설정
NODE_ENV=development

# 웹 푸시 알림 설정
VAPID_PUBLIC_KEY=BM-KWKrT9XTrvBwroAicxr3RXh2CSGu-9vwYAnWfPvTk63OQD0TfPKB-YHnjRPpmhD4E7kjtjBHvfSMrJ3sxx1U
VAPID_PRIVATE_KEY=Gc9DEmPHT1ErUJmHqK9vI6N1nrOC42TGWlwUX5soKw8 