# Supabase 설정
SUPABASE_URL=https://lfaayzaknwlcupaoqnbu.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

# 앱 설정
NODE_ENV=development

# 웹 푸시 알림 설정
VAPID_PUBLIC_KEY=BM-KWKrT9XTrvBwroAicxr3RXh2CSGu-9vwYAnWfPvTk63OQD0TfPKB-YHnjRPpmhD4E7kjtjBHvfSMrJ3sxx1U
VAPID_PRIVATE_KEY=Gc9DEmPHT1ErUJmHqK9vI6N1nrOC42TGWlwUX5soKw8

# YouTube Data API 설정
YOUTUBE_API_KEY=your_youtube_api_key_here
YOUTUBE_CHANNEL_HANDLE=@길을여는교회 